{% extends "layout.html" %}
{% block title %}SuRक्षा AI - Sign Up{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="flex flex-col min-h-screen items-center justify-center">
    <h1 class="text-2xl font-bold mb-4">Sign Up</h1>
    {% if error %}
    <p class="text-center text-sm mb-4">
        There was an error:
        <span class="text-red-600">
            {{ error }}
        </span>
    </p>
    {% else %}
    <p class="text-center text-sm text-gray-600 mb-4">
        Welcome to SuRक्षा AI! Please sign up to get started.
    </p>
    {% endif %}
    <form method="post" action="/signup" class="w-full my-2 max-w-xl px-4 space-y-4">
        <div class="flex">
            <input class="input input-bordered w-full mr-4" placeholder="first name" type="text" name="first_name" />
            <input class="input input-bordered w-full" placeholder="last name" type="text" name="last_name" />
        </div>
        <input class="input input-bordered w-full" placeholder="email" type="email" name="email" />
        <input class="input input-bordered w-full" placeholder="password" type="password" name="password" />
        <input class="input input-bordered w-full" placeholder="confirm password" type="password"
            name="confirm_password" />
        <button class="btn w-full">Sign Up</button>
    </form>
    <p class="text-center text-sm text-gray-600 mt-4">
        Already have an account? <a href="/signin" class="font-bold">Sign in</a>
    </p>
</div>
{% endblock %}