{% extends "layout.html" %} {% block title %}SuRक्षा AI - Sign Up{% endblock %} {% block head %} {{ super() }} {% endblock
%} {% block content %}

<div class="flex z-0 items-center mb-12 justify-center min-h-screen mx-8 mt-12 flex-col">
	<h1 class="text-2xl mt-32 font-bold mb-4">Live Video Feed</h1>
	<div class="flex items-center justify-center mb-8">
		<p class="mr-2 text-nowrap">Select Camera:</p>
		<select class="select select-sm select-bordered w-full max-w-xs">
			{% for camera in cameras %}
			<option class="font-bold">Camera {{ camera }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="relative w-full max-w-3xl mb-12">
		{% if camera_feed %}
		<img src="{{ url_for('video_feed') }}" width="100%" id="video-feed" />
		<div class="absolute left-1/2 bottom-12 text-3xl text-gray-700">
			<button id="pause-button" class="">
				<a href="{{ url_for('video', camera_feed=false) }}" id="pause-button" class="text-xl text-white mt-4">
					<i class="fa-solid fa-pause"></i>
				</a>
			</button>
		</div>
		<p class="text-center text-sm text-gray-600 mt-4">
			<span class="font-bold"> Note: </span>
			This is a live video feed from your camera. It is not stored or saved anywhere.
		</p>
		{% else %}
		<div class="flex flex-col bg-base-200 px-16 rounded-xl items-center justify-center w-full h-96">
			<p class="text-center text-sm text-gray-600">Camera feed is paused. Click the play button to resume.</p>
			<a href="{{ url_for('video', camera_feed=true) }}" id="play-button"
				class="text-xl mt-4 hover:text-neutral/80">
				<i class="fa-solid fa-play"></i>
			</a>
		</div>
		{% endif %}
	</div>
	<div class="flex items-center w-full justify-center">
		<div class="rounded-xl max-w-xl w-full mr-8 border p-8">
			<h2 class="text-lg text-neutral/90 font-semibold">Settings</h2>
			<div class="flex items-center justify-between w-full mt-4">
				<p class="text-sm text-gray-600 mr-2">Resolution:</p>
				<select class="select select-sm select-bordered w-full">
					<option>1920x1080</option>
					<option>1280x720</option>
					<option>640x480</option>
				</select>
			</div>
			<div class="flex items-center justify-between w-full mt-4">
				<p class="text-sm text-gray-600 mt-4">Send Analytics Data:</p>
				<input type="checkbox" class="toggle" checked />
			</div>
			<div class="flex items-center justify-center w-full mt-8">
				<div class="join">
					<button class="btn bg-base-100 text-neutral/80 join-item">Record Video</button>
					<button class="btn bg-base-100 text-neutral/80 join-item" onclick="download_ss();">
						Take Screenshot
					</button>
					<button class="btn bg-base-100 text-neutral/80 join-item" onclick="capture();">Upload Frame</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function capture() {
		console.log("Capturing image...");
		var img = document.getElementById("video-feed");
		var canvas = document.createElement("canvas");
		canvas.width = img.width;
		canvas.height = img.height;
		var ctx = canvas.getContext("2d");
		ctx.drawImage(img, 0, 0, img.width, img.height);
		var data = canvas.toDataURL("image/png");
		fetch("/capture", {
			method: "POST",
			body: JSON.stringify({ img_data: data }),
			headers: {
				"Content-Type": "application/json"
			}
		})
			.then((response) => {
				console.log(response);
			})
			.catch((error) => {
				console.error(error);
			});

		console.log("Image captured.");
	}

	function download_ss() {
		console.log("Downloading image...");
		var img = document.getElementById("video-feed");
		var canvas = document.createElement("canvas");
		canvas.width = img.width;
		canvas.height = img.height;
		var ctx = canvas.getContext("2d");
		ctx.drawImage(img, 0, 0, img.width, img.height);
		var data = canvas.toDataURL("image/png");

		var link = document.createElement('a');
		link.href = data;

		var now = new Date();
		var timestamp = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate() + '_' + now.getHours() + '-' + now.getMinutes() + '-' + now.getSeconds();

		link.download = timestamp + '.png';


		document.body.appendChild(link);

		link.click();

		document.body.removeChild(link);

		console.log("Image captured and download started.");
	}
</script>

{% endblock %}